 
 @import './variable.scss';
 @import './book1.scss';
 @import './book2.scss';
 

 @font-face {
    font-family:"cairoFont";
    src: url(../fonts/Cairo-Regular.ttf);
 }
  body {
    font-family:"cairoFont", 'Cambria,Cochin,Georgia,Times New Roman,Serif'!important;
    
   }
   .navbar{
       position: fixed;
       top: 0;
       width: 100%;
       height: 60px;
       z-index: 3;
       background-color: #16aeca !important;
      // justify-content: center;
      
      .navbar-brand{
       padding-top: 10px;
       }
       .navbar-brand{
        img{
       padding-bottom: 20px;
      }
      }
        ul{
        float: left;
       
       
      }
       li{
        float: right;
        display: inline;
        padding: 10px  20px ;
        margin: 10px 20px ;
     }
       a{
         color: rgb(26, 14, 14);
         text-decoration: none;
        font-size: 16px;

        
      
      }
    }
   
    .who-are-we {
        .button{
        color: crimson;
        margin-top: 50px;
        padding: 5px 20px;
        background-color: blue;
        border-radius: 10px;
     }
      .paragraph{
       background-color:  rgba(139, 189, 230, 0.5);
       border: 2px solid black;
       margin: 50px;
       line-height: 4rem;
       border-radius: 20px;
       padding: 50px !important;
       font-size: 36px;
       transition: all 3s ease-in-out;
       opacity: 1;
       color: #111111;
      
       :hover{
         opacity: 0.5;
         transform: scale(1.4);
         border-radius: 50%;
    
       }
     
       span{
         color: rgb(206, 13, 29);
         background-color: rgb(189, 189, 240,)
       
        }
  
        }
         background-image: url(../images/lib/sh4.jpg);

      }

   section.new-box {
     background-color: $main-color;

    h2{
     color: rgb(40, 20, 220) ;
     font-size: 36px;
     line-height: 8rem;
     background-color: rgb(189, 189, 236);
     border-radius: 10px;
     margin-top: 20px;
     margin-right: 20px;
     padding: 0 300px;
     
    }
    .one{
      border: 3px dotted black;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 10px;

    }
    .tow{
      border: 3px dotted black;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 10px;
    }
   
  }
   section.contacts{
    padding-top: 20px !important;
     h1{
      text-align: center;
     color: $main-button-color;
    }
  }
  
   section.contacts{
    background-color: #16aeca;
    top: 0;
    .form form button{
    background-color: $main-button-color;
    border: 0px;
     border-radius: 10px;
     color: #d40c30;
    font-family: ar-font;
     font-size: 15px;
    line-height: 25px;
    padding: 5px 25px !important;
     margin-right: 15px;
    }
   .cmxform{
      width: 90%;
      margin: 0 auto 50px;
      
    }
    .map{
      iframe{
      height: 270px;
      width: 85%;
      border: blue solid 2px !important;
      margin-right: 35px;
      margin-top: 50px;
      border-radius: 10px;

    }

  }

   }  
  
  footer {
    .top-footer{
      background-color: #96c1e4;
      padding: 75px 0 !important;
      text-align: right;
    }

  }

  form.action {
    background-color: $custom-color;
    border: blue solid 2px !important;
    border-radius: 10px;
    margin-left: 15px;
    height: 250px;
    width: 85%;
    margin-bottom: 20px;

   input{
    border: 1px solid blue;
    margin-right: 15px;
    border-radius: 10px;
   }
    .submit{
     border: blue 1px solid;

     }
   
    }
 

   .conta{
    margin-right: 30px;
    color:rgb(40, 20, 220); 
  }
 
  footer {
    
    .top-footer{

      h3{
        font-size: 18px;
        font-weight: bold;
       line-height: 45px;
       color: #1519e7;
       margin-bottom: 30px;
       position: relative;
         }
    }
  }

  footer{
    .top-footer{
      p{
    font-size: 15px;
    line-height: 22px;
    color: #1619c7;
    margin-bottom: 50px; 
      }
    }
  } 

  footer {
    .top-footer{
      ul.social{
        li{
          a{
            i{
              width: 35px;
              height: 35px;
              line-height: 35px;
              text-align: center;
              border-radius: 2px;
              background-color: #b81818;
              color: #111010;
              transition: all 0.5s ease; 
            }
          }
        }
      }
    }
  }
  
  footer {
    .top-footer{
      ul.social{
        li{
          margin-right: 5px;
        }
      }
    }
  } 

  footer{
    .top-footer{
      ul.social{
        li{
          a:hover{
            i{
              background-color: #d3cdee; 
            }
          }
        }
      }
    }
  } 

  footer{
    .top-footer{
      ul.contact-us{
        li{
          margin-bottom: 35px;
          font-size: 18px;
          color: #0c0b0b; 
        }
      }
    }
  } 
 
  footer{
    .top-footer{
      ul.contact-us{
        li:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  } 
  
  footer {
    .top-footer{
      ul.contact-us{
        li{
          i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
   
    color: #acacac;
    margin-left: 20px;
          }
        }
      }
    }
  }
  
  footer{
    .copyright{
      background-color: #111111;
    }
  } 

  footer {
    .copyright{
      p{
        font-size: 15px;
        line-height: 78px;
        color: #919191;
        margin-bottom: 0;
      }
    }
  }
 
    
  @media (max-width :991px) {
    
       .navbar{
         a {
         border-bottom: none !important;
         padding-right: 5px;
         color: rgb(3, 3, 51);
          }
          ul{
            display: inline-block;

     li{

     a{
     color: #d40c30;
      }
  }
            
  }
         
 
  }

       .who-are-we{
        .paragraph{
          line-height: 2rem;
          padding: 20px 10px;
          margin: 10px;
          font-size: 20px;
        }
      }

      section.new-box{
        h2{
          padding: 0 20px;
        }

      }

      form.action{
        margin-right: 40px;
      }
 }


 

 